:root {
  --dark-purple: #4f46e5;
  --light-purple: #818cf8;
}

* {
  font-family: "Inter", sans-serif;
}

#profile {
  background-color: #9eb2cf;
}

#profileContainer {
  background-color: rgba(0, 0, 0, 0.5);
  color: white !important;
}

#pfp {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin-bottom: 2rem;
}

#heading {
  font-size: 3.75rem;
  line-height: 1;
  font-weight: 800;
  color: white;
  margin-bottom: 2rem;
}

.my-btn {
  padding: 0.5rem 1rem;
  background-color: #4f46e5;
  border: #4f46e5;
}

.my-btn:hover {
  background-color: #4338ca;
}

#name {
  color: #818cf8;
}

#aboutContainer {
  max-width: 896px;
}

.paragraphs {
  font-size: 18px;
  line-height: 1.75rem;
}

.skill {
  background-color: rgb(224, 231, 255);
  color: rgb(55 48 163);
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.25rem;
}

#projectsContainer {
  margin-left: auto;
  margin-right: auto;
  max-width: 72rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

.transition-card {
  transition: all 0.2s ease-in-out;
}

.transition-card:hover {
  transform: scale(1.05);
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.175);
}

.card-img-top {
  height: 200px;
  object-fit: cover;
}

.btn-indigo {
  background-color: #4f46e5;
  border-color: #4f46e5;
  transition: all 0.3s ease-in-out;
}

.btn-indigo:hover {
  background-color: #4338ca;
  border-color: #4338ca;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.15);
}


#contactContainer {
  max-width: 36rem;
}

.form-control:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 0 0.25rem rgba(79, 70, 229, 0.25);
}

#btnSubmit {
  transition: 0.2s ease-in-out;
  padding: 12px 24px;
}

#btnSubmit:hover {
  transform: scale(1.05);
}

.logo {
  width: 3rem;
  height: 3rem;
  transition: 0.2s ease-in-out;
}

.logo:hover {
  transform: scale(1.20);
}
